@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto+Mono:wght@300;400;500;600;700&display=swap");

:root {
  /* Typography */
  --regular-font: "Lato", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  --heading-font: "Roboto Mono", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    monospace, sans-serif;

  /* h5 font size paragraph */

  /* start of for mobile */

  --font-size-s-h1: 3.052rem;

  --font-size-s-h2: 2.441rem;

  --font-size-s-h3: 1.953rem;

  --font-size-s-h4: 1.563rem;

  --font-size-s-h5: 1.25rem;
  /* major third 1.250 */
  --font-size-s-h6: 1rem;
  /* end of for mobile */

  --line-height: 1.75;

  --box-shadow-1: 2px 4px 6px #000;

  --transition-8: all 0.8s ease-in-out;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--regular-font);
  font-size: 16px;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  display: block;
}

.heading {
  margin-left: 1.3rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: green;
}

.product-image {
  object-fit: cover;
  height: 15rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  row-gap: 2rem;
  margin: 0 auto;
  justify-content: center;
  column-gap: 1rem;
  max-width: 90%;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card-product {
  box-shadow: 1px 1px 2px #000;
  padding: 0.1rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

.card-product:hover {
  transition: all 0.1s cubic-bezier(0.4, 0, 1, 1);
  transform: scale(1.01);
  box-shadow: 2px 4px 6px #000;
}

.product-title {
  font-size: 1.2rem;
  text-align: center;
  text-transform: capitalize;
  padding: 0.5rem 0;
  letter-spacing: 1px;
}

.product-price {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: green;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}

.btn-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 200px;
  justify-content: center;
  margin-top: 2rem;
  margin-left: 2rem;
}

.btn {
  border: 1px solid grey;
  background-color: white;
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 0.5rem 0;
  border: transparent;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  transition: var(--transition-8);
}

.btn:hover {
  color: green;
  transform: translateX(5%);
}

.form-search {
  width: 100%;
  padding: 0.5rem 0.5rem;
  margin-top: 2.5rem;
  font-size: 1.2rem;
  max-width: 280px;
  margin-left: 1rem;
  margin-bottom: 2rem;
  transition: var(--transition-8);
  border: 1px solid gray;
  border-radius: 0.5rem;
}

.form-search::placeholder {
  text-transform: capitalize;
  letter-spacing: 2px;
}

.form-search:focus,
.form-search:hover {
  border: 1px solid green;
  outline-color: green;
}

.no-products {
  color: green;
  font-size: 1.2rem;
  text-align: center;
}

@media only screen and (min-width: 992px) {
  .main {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    margin-top: 2rem;
  }

  .products {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
